{% extends "layout.html" %}

<style>
    .body {
        background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}
    
</style>
{% block body %}
<br>
<br>
<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Kayıt ol</h2>
              {% if sonuc %}
              <div class="btn btn-danger">{{ sonuc }}</div>
              <br>
              <br>
              {% endif %}
              {% if sonuc2 %}
              <div class="btn btn-danger">Boş alan bırakmayınız</div>
              <br>
              <br>
              {% endif %}
              {% if bos %}
              
              <div class="btn btn-danger">Bos alan bırak mayınız</div>
              <br>
              <br>
              {% endif %}

              <form method="post" class="b">

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="isim" required/>
                  <label class="form-label" for="form3Example1cg">kullanıcı adı</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" name="email" required/>
                  <label class="form-label" for="form3Example3cg">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" name="sifre" required/>
                  <label class="form-label" for="form3Example4cg">Sifre</label>
                </div>


                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Kayıt ol</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Hesabınız varmı? <a href="/gir"
                    class="fw-bold text-body"><u>Giriş yap</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>

{% endblock %}