<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <title>UcuzUrun.com</title>

    
</head>
<body>
    <nav class="navbar navbar-dark bg-danger mb-3">
        <div class="container">
            
            <a href="/" class = "navbar-brand">UcuzUrun.com</a>
            <a href="/fiyattakipetme" class = "navbar-brand">Fiyat Takip et</a>
            

        </div>
    </nav>
    <div class="container searchContainer">
        <div class="search card card-body">
            <h3>Bir ürün arayın ve bütün web sitelerindeki fiyatları görün</h3>
            <p class="lead">
                Bir ürün girin ve ürün fiyatlarına ulaşın
            </p>
            <form action="/" method="post">
                <input type="text" name="urun" class = "form-control" placeholder="ürün adı">
                <br>
                <button type = "submit" class ="btn btn-danger">Ara</button>
            </form>
        </div>
        <br>
        {% if urun %}

        <p>{{ urun }}</p>

        {% endif %}

        

       
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>